.card {
    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    overflow: hidden;

    .card-title {
        background-color: #f9fafb;
        border-bottom-width: 1px;
        border-color: #e5e7eb;
        font-weight: 500;
        line-height: 1rem;
        padding: 1rem 1.5rem;
        color: #374151;
    }

    .card-body {
        padding: 1rem;
    }
}
